<% layout('layouts/boilerplate')%>
    <main id="main" class="m-5">
        <section class="card" style="width: 60%; margin: 0 auto;">
            <h3 class=" card-header text-center">Uplaod New Images</h3>
            <form class="needs-validation m-4" action="/locations" method="post" enctype="multipart/form-data"
                novalidate>
                <div class="mb-3">
                    <label class="form-label" for="siteName">Site Name</label>
                    <input class="form-control" type="text" id="siteName" name="siteName" placeholder="Site Name"
                        minlength="3" maxlength="30" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Site Name must be 3-30 characters
                    </div>
                </div>

                <!--UI Error Here-->
                <div class="mb-3">
                    <label class="form-label" for="locationSearch">Location</label>
                    <div>
                        <mapbox-search-box id="locationSearch" access-token="<%= process.env.MAPBOX_TOKEN %>"
                            proximity="0,0"></mapbox-search-box>
                    </div>
                    <input class="form-control" type="hidden" id="location" name="location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please select a location.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="description"
                        placeholder="Description" minlength="3" maxlength="300" required></textarea>
                    <div class=" valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        description must be 3-300 characters
                    </div>
                </div>

                <div class="mb-3">
                    <p>Upload Images:</p>
                    <label for="images"></label>
                    <input type="file" id="images" name="images" accept="image/png, image/jpeg, image/jpg" multiple
                        required />
                    <div class=" valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        At most 5 images
                    </div>
                </div>

                <br>
                <hr>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                    <a href="/locations" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </section>
    </main>