/* button style */
.btn-secondary {
    background-color: #333;
    border: none;
}

.mybtn:hover {
    background-color: #222;
    color: white;
}


.myContainer {
    background: white;
    padding: 2em;
    margin: 2em 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.myLogo-size {
    width: 30px;
    height: 30px;
}

.carousel-item img {
    max-height: 500px;
    width: auto;
}