/* Navbar Styling */
.navbar {
    /* Initial color */
    color: white;
    padding: 12px 48px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

.navbar,
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-text {
    /*  font-family: 'Oswald', sans-serif; */
    font-size: 1.2rem;
    color: white !important;
    /* Change all text colors to white */
}

.navbar .navbar-brand {
    font-size: 2rem;
    /* Increase the font size of the brand name */
}

.navbar .nav-link:hover {
    color: #e0e0e0 !important;
    /* Optional: Change hover color to a lighter shade */
}

/* Updated: Dropdown Menu */
.navbar .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.2) !important;
    /* Black with 50% opacity */
    color: white !important;
    border: none;
    /* Remove border if needed */
}

.navbar .dropdown-item {
    color: white !important;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
    /* Lighten background on hover/focus */
    color: white !important;
}