<% layout('layouts/boilerplate')%>
    <main id="main" class="m-5">
        <section class="container">
            <h1 style="font-size: 5rem;">
                404
                <small style="font-size: 2rem;"> - Page Not Found</small>
            </h1>

            <div class="loop-slider" style="--duration:40000ms; --direction:normal;">
                <div class="inner">
                    <% for(let i=0; i < 20; i++) {%>
                        <div class="tag">
                            <img class="myLogo-size" src="/data/fish-0.png" alt="Logo">
                        </div>
                        <%}%>
                </div>
            </div>
            <p>Oops! It looks like you are swimming in the wrong direction.</p>
            <p>Why not swim back to the <a href="/">home page</a>?</p>

        </section>
    </main>