<% layout('layouts/boilerplate')%>
    <main id="main" class="m-5">
        <section class="container">
            <h1 style="font-size: 5rem;">
                500
                <small style="font-size: 2rem;"> - Unexpected Error</small>
            </h1>
            <p>Oops! Something went wrong.</p>
            <p>Why not swim back to the <a href="/">home page</a>?</p>

        </section>
    </main>