<% layout('layouts/boilerplate')%>
    <section id="main">
        <div class="row">
            <!-- Column 1: Portrait Image -->
            <div class="col-lg-3 col-md-4 col-sm-12 text-center">
                <div class="info-image-container">
                </div>
            </div>
            <!-- Column 2: Register Form -->
            <div class="col-lg-6 col-md-4 col-sm-12">
                <div class="card m-5" style="border-radius: 20px;">
                    <div class="card-header text-center">
                        <h3>Uplaod New Story </h3>
                    </div>
                    <div class="card-body">
                        <form class="needs-validation mx-4" action="/stories" method="post" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="name">Title</label>
                                <input class="form-control" type="text" id="name" name="name" placeholder="Title"
                                    minlength="3" maxlength="50" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Title must be 3-50 characters
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="textBody">Description</label>
                                <textarea class="form-control" type="text" id="textBody" name="textBody"
                                    placeholder="Share Story..." minlength="3" maxlength="5000" rows="10"
                                    required></textarea>
                                <div class=" valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Story must be 3-5000 characters
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                                <a href="/stories" class="btn btn-danger">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column 3: Portrait Image -->
            <div class="col-lg-3 col-md-4 col-sm-12 text-center">
                <div class="info-image-container">
                </div>
            </div>
        </div>
    </section>

    <!--javascripts-->
    <script src="/javascripts/checkFormBootstrap.js"></script>