<% layout('layouts/boilerplate')%>
    <main id="main" class="m-5">
        <section class="card" style="width: 30%; margin: 0 auto;">
            <h3 class=" card-header text-center">Login</h3>
            <form class="needs-validation m-4" action="/login" method="post" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" placeholder="Username"
                        minlength="3" maxlength="30" autocomplete="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a vaild 'username'
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password"
                        minlength="3" maxlength="30" autocomplete="current-password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid 'password'
                    </div>
                </div>
                <hr>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" id="submitBtn">Login</button>
                </div>
            </form>

            <div class="divider mb-4">Don't have an account</div>
            <div class="d-flex justify-content-center mb-4">
                <a href="/register">Create a Account</a>
            </div>
        </section>
    </main>