<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnhappyFish</title>
    <link rel="icon" sizes="32x32" href="/data/images/shark.png" type=" image/png">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!--Custom-->
    <link rel="stylesheet" href="/stylesheet/myCardStyle.css">
    <link rel="stylesheet" href="/stylesheet/myStyle.css">

    <!--JS possible Issue-->
    <section>
        <% function getRandomImage() { const max=imageUrls.length; const image=imageUrls[Math.floor(Math.random() *
            (max))]; return image; } %>

            <% const imageUrls=[ "/data/images/fish-0.png" , "/data/images/fish-1.png" , "/data/images/fish-2.png"
                , "/data/images/fish-3.png" , "/data/images/fish-4.png" , "/data/images/fish-5.png"
                , "/data/images/fish-6.png" , "/data/images/fish-7.png" , ]; %>
    </section>
</head>

<body class="d-flex flex-column min-vh-100">
    <!--Navbar-->
    <nav id="navbar" class="navbar sticky-top navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid m-1">
            <a class="navbar-brand" href="/">
                <img class="myLogo-size" src="<%=getRandomImage()%>" alt="Logo" class="d-inline-block align-text-top">
                UnHappyFish
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" aria-disabled="true">User Stories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Fishing Manuals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/locations/new">Upload</a>
                    </li>
                </ul>

                <div class="myLogin mx-5">
                    <% if (!isLogin) { %>
                        <a class="nav-link" href=" /login">Login</a>
                        <% } else { %>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
                </div>
            </div>
        </div>
    </nav>

    <!--flash-->
    <section>
        <%- include('../partials/flash') -%>
    </section>

    <main class="m-5">
        <section class="card" style="width: 30%; margin: 0 auto;">
            <h3 class=" card-header text-center">Create account</h3>
            <form class="needs-validation m-4" action="/register" method="post" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" placeholder="Username"
                        minlength="3" maxlength="30" autocomplete="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Username must be 3-30 characters
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="Email" minlength="3"
                        maxlength="30" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid 'email'
                    </div>
                </div>

                <div class="mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password"
                        minlength="3" maxlength="30" autocomplete="current-password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        password must be 3-30 characters
                    </div>
                </div>
                <hr>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                </div>
            </form>

            <div class="divider mb-4">Already have an account?</div>
            <div class="d-flex justify-content-center mb-4">
                <a href="/login">Sigin in </a>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer bg-dark text-light mt-auto py-3">
        <p>&copy; 2024 UnhappyFish. All rights reserved.</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

    <!--Custom-->
    <script src="/javascripts/checkFormBootstrap.js"></script>
</body>

</html>